.button {
  margin-right: 1rem;
}
/* CSS */
.buttonpushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.buttonshadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.buttonedge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.L .buttonedge, .R .buttonedge {
  background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    hsl(340deg 100% 32%) 8%,
    hsl(340deg 100% 32%) 92%,
    hsl(340deg 100% 16%) 100%
  );
}
.O .buttonedge {
  background: linear-gradient(
    to left,
    green,
    #38E54D,
    #38E54D,
    green
  );
}
.buttonfront {
  display: block;
  position: relative; 
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}
.L .buttonfront, .R .buttonfront{
  background: hsl(345deg 100% 47%);
  color: white;
}
.O .buttonfront {
  background: rgb(59, 183, 59);
  color: #C3FF99;
}
@media (min-width: 768px) {
  .L .buttonfront {
    padding: 6px 30px;
  }
  .R .buttonfront {
    padding: 6px 30px;
  }
  .O .buttonfront {
    padding: 10px 15px;
  }
}
@media (max-width: 768px) {
  .L .buttonfront {
    padding: 6px 30px;
  }
  .R .buttonfront {
    padding: 6px 30px;
  }
  .O .buttonfront {
    padding: 10px 15px;
  }
}

.buttonpushable:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.buttonpushable:hover .buttonfront {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.buttonpushable:active .buttonfront {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.buttonpushable:hover .buttonshadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.buttonpushable:active .buttonshadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.buttonpushable:focus:not(:focus-visible) {
  outline: none;
}

.L {
  border-radius: 100px 100px 100px 0;
}

.R {
  border-radius: 100px 100px 0 100px;
}

.O {
  border-radius: 100px;
}
.score {
  font-size: 20px;
}

.title {
  font-size: 15px;
  color: #faf5e4;
  font-weight: 500;
}

.L .title {
  font-size: 14px;
  font-weight: 500;
}
